button#start, button#back {
	width: 100px;
	height: 100px;
}

button#start {
	display: inline;
}

h1, p, button {
	display: none;
}

#Title, #statement, #pro, #neither, #con, #skip {
	position: absolute;
}

#Title {
	top: 100px;
	left: 25px;
}

#statement {
	top: 150px;
	left: 25px;
}

#pro, #neither, #con, #skip {
	top: 300px;
	width: 110px;
	height: 25px;
}

#pro {
	left: 25px;
}

#neither {
	left: 140px;
}

#con {
	left: 255px;
}

#skip {
	left: 370px;
}